<!-- File: projects.ejs - Created by: Akash Arora - Student Number: 300849838 - Created on: October 2nd, 2022 -->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<h1 class="projects"><%= title %></h1>

<di class="projects">

  <!-- Project #1 -->
  <div class="project-item">
    <h2 id="project-title">Weather Information</h2>
    <ul>
      <li>Client Side Development project to tell the weather conditions</b></li>
      <li>Check weather by entering city name</li>
      <li>Check weather for current location</li>
      
        <img class="pic" src="/assets/images/weather.jpeg">
    
    </ul>
  </div>

  <!-- Project #2 -->
  <div class="project-item">
    <h2 id="project-title">AutoPy</h2>
    <ul>
      <li>Python project to move files automatically</li>
      <li>Move files from one folder to another</li>
      <li>Setup Python script in bat file</li>
        <img class="pic" src="/assets/images/autopy.jpg">
    
    </ul>
  </div>

  <!-- Project #3 -->
  <div class="project-item">
    <h2 id="project-title">Bug Smasher</h2>
    <ul>
      <li>Smash the bugs with mouse as swatter</li>
      <li>Reset Score and Speed button</li>
      <li>Score counter</li>
      
        <img class="pic" src="/assets/images/bugsmasher.jpg">
    
    </ul>
  </div>
</di>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>